<h1>Text Upload</h1>
<% form_tag({:action => 'add_text'}, :multipart => true) do %>
  <p><label for="upload_file">Select File</label> :
  <%= file_field 'upload', 'datafile' %></p>
  <%= submit_tag "Upload" %>
<% end %>
